<% layout('layouts/boilerplate') %>
<h1>Register New User</h1>
<form action="/register" class="validated-form" method="POST" novalidate>
  <div class="mb-3">
    <label class="form-label" for="username">Username</label>
    <input
      class="form-control"
      type="text"
      name="username"
      id="username"
      placeholder="Username"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="email">E-mail</label>
    <input
      class="form-control"
      type="email"
      name="email"
      id="email"
      placeholder="E-mail"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input
      class="form-control"
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <button class="btn btn-success">Register</button>
</form>
